@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	font-weight: bold;
	border: 2px solid black;
	color: black;
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_menu{
  text-align: center;
}
.game_board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;

}
.board {
  display: flex;
  height: 50em;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
}

.row {
  display: flex;
  height: 12.5%;
  width: 50em;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 12.5%;
  height: 100%;
  margin: auto;
}

.row .square:nth-of-type(even) {
   background-color: lightgreen;
 }

 .row .square:nth-of-type(odd) {
   background-color: dodgerblue;
 }

.row:nth-of-type(even)
  .square:nth-of-type(even) {
    background-color: dodgerblue;
  }

.row:nth-of-type(even)
  .square:nth-of-type(odd) {
    background-color: lightgreen;
  }
